
body {
    margin: 0;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
    background-image: url("images.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.title{
    color: #0c0d0d;
    font-family: 'Poppins', sans-serif;

    font-size:40px;
    font-weight: bold;
}
.subtitle{
    color:#050505;
    font-family: 'Poppins', sans-serif;

    font-size:20px;
    font-weight: bold;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    gap: 30px;
}
.subhead{
    color: #050505;
    margin-bottom: 20px;
}
.right-panel {
    background: #9bf8fa;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin: 5px;
    width: 500px;
}

.left-panel  {
    background: #383838;
    padding: 25px;
    color: #f7f7f7;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); 
    height: 500px;
    width: 500px;
}




.input-block {
    margin-bottom: 20px;
    
}

label {
    display: block;
    margin-bottom: 6px;
    font-size: 15px;
     color: #f7f7f7;
}

.input-row {
    display: flex;
    gap: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #aaa;
    font-size: 15px;
}

.result-card {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    color: white;
} 
.head
{
    color: black;
    font-size:20px;
}
.res-box{
    background-color: #f7f7f7;
    border-radius: 20px;
    width: 250px;
    text-align: center;
    padding: 10px;
    

}
.unit{
    color: black;
    font-size: 12px;

}
.res{
    color: black;
    font-size: 20px;
    font-weight: bold;

}
 
.green-card { background: #2ea54a;
margin: 10px; }
.blue-card { background: #1976d2;margin: 10px; }
.orange-card { background: #ef6c00;margin: 10px; }
.purple-card { background: #cc27b3;margin: 10px; }

@media (max-width: 950px) {
    .container {
        grid-template-columns: 1fr;
    }

}







